body {
    background: linear-gradient(#faf7de, #d0ed3b);
    font-family: 'Courier New', Courier, monospace ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player-display {
    display: flex;
    flex-direction: column
}

article {
    background-color: #faf7de;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

}

.game-board {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    border: 3px solid;
    padding: 40px;
    font-size: 65px;
    text-align: center;
    color: black;
}

#position-0 {
    border-top: transparent;
    border-left: transparent;
}

#position-1 {
    border-top: transparent;
}

#position-2 {
    border-top: transparent;
    border-right: transparent;
}

#position-3 {
    border-left: transparent;
}

#position-5 {
    border-right: transparent;
}

#position-6 {
    border-left: transparent;
    border-bottom: transparent;
}

#position-7 {
    border-bottom: transparent;
}

#position-8 {
    border-bottom: transparent;
    border-right: transparent;
}
